/venv/
/emailsite/emailsite/__init__.py
/.idea/
/emailsite/sendapp/__init__.py
/emailsite/emailsite/__pycache__/
/emailsite/sendapp/migrations/
/emailsite/emailsite/private_data.py
/emailsite/__init__.py
